header {
  display: block;
  /* margin: 10px; */
}

.navbar-brand img {
  width: 100px;
  display: inline;
}

header .container {
  display: block;
}
/* header h1 {
  margin-left: 10px;
  margin-right: auto;
  display: inline;
} */

nav {
  display: inline;
}
#header_img{
 
  width: 50%;
  height: 50%;
  text-align: center;
  filter: invert(100%);
}
#header{
  background: url(../images/Portal2_conceptart_001.jpg);
	text-align: center;
}
#gif{
  width: 15%;
  height: 25%;
  filter: blur(2px);
}
.address{
 /* text-align: center;*/
}
.service{
   padding: 10px;
}
.footer{
  text-align: center;
}
.cave{
  width: 50%;
}
/*.head{
position: fixed;
top: 0;
}*/