header {
  display: block;
  /* margin: 10px; */
}

.navbar-brand img {
  width: 100px;
  display: inline;
}

header .container {
  display: block;
}
/* header h1 {
  margin-left: 10px;
  margin-right: auto;
  display: inline;
} */

nav {
  display: inline;
}
