.TitleLeft {

}

.TitleLeft h2 {
  text-align: center;
}

.TitleLeft p {
  text-align: center;
}


.TitleRight {

}

.TitleRight h2 {
  text-align: center;
}

.TitleRight p {
  text-align: center;
}

.row {
  margin: 25px auto;
}
